
<!-- <router-outlet></router-outlet> -->
<div>
  <form
    fxLayout="row"
    [formGroup]="Form"
    novalidate>
    <div fxLayout="column" fxFlex fxLayoutAlign="center center" class="m-10">
        <mat-dialog-content fxLayout="column" style="width:100%;">
            <lcu-select
              [Config]="JSONConfig"
              Placeholder="LCU-Select"
              formControlName="lcuSelect"
              (SelectOpened)="SelectionOpened($event)"
              (SelectOptionSelected)="OptionSelected($event)">
            </lcu-select>
        <mat-error *ngIf="LCUSelect.hasError('required') && LCUSelect.value">Selection Required</mat-error>
      </mat-dialog-content>
    <!-- <mat-card fxFlex> -->
      <!-- <mat-dialog-content fxLayout="column" style="width:100%;">
        <lcu-mat-lcu-select
          style="width:100%"
          [Config]="JSONConfig"
          Placeholder="LCU-Select"
          formControlName="lcuSelect"
          (SelectOpened)="SelectionOpened($event)"
          (SelectOptionSelected)="OptionSelected()">
        </lcu-mat-lcu-select>
      <mat-error *ngIf="LCUSelect.hasError('required') && LCUSelect.value">Selection Required</mat-error>
    </mat-dialog-content> -->

<!-- </mat-card> -->
      <!-- </mat-dialog-content> -->

      <!-- <mat-form-field>
        <lcu-rec-mat-select></lcu-rec-mat-select>
      </mat-form-field> -->
    </div>
    <!-- <div class="mt-10" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" [disabled]="Form.enabled" (click)="EnableForm()">Enable</button>
      <button mat-raised-button color="warn" [disabled]="Form.disabled" (click)="DisableForm()">Disable</button>
    </div> -->
  </form>
</div>

