
<!-- <router-outlet></router-outlet> -->
<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>-->
  <form style="width:500px"
    fxLayout="column"
    [formGroup]="Form"
    novalidate>
    <div fxLayout="column" fxFlex fxLayoutAlign="center center" class="m-10">
        <mat-dialog-content fxLayout="column" style="width:100%;">
            <lcu-select
              [Config]="JSONConfig"
              Placeholder="LCU-Select"
              formControlName="lcuSelect"
              (SelectOpened)="SelectionOpened($event)"
              (SelectOptionSelected)="OptionSelected($event)">
            </lcu-select>
        <mat-error *ngIf="LCUSelect.hasError('required')">Selection Required</mat-error>
      </mat-dialog-content>
    </div>
    <div fxLayout="column" fxFlex fxLayoutAlign="center center" class="m-10">
      <mat-dialog-content fxLayout="column" style="width:100%;">
          <lcu-select
            [Config]="ConditionsConfig"
            [Placeholder]="LCUConditions.invalid ? 'Conditions' : ''"
            formControlName="lcuConditions"
            (SelectedEvent)="OptionSelected($event)">
          </lcu-select>
      <mat-error *ngIf="LCUConditions.hasError('required')">Selection Required</mat-error>
    </mat-dialog-content>
  </div>
  <div fxLayout="column" fxFlex fxLayoutAlign="center center" class="m-10" formGroupName="SearchFormControls">
    <mat-dialog-content fxLayout="column" style="width:100%;">
      <lcu-select
        id="forecastModelType"
        name="forecastModelType"
        formControlName="forecastModelType"
        [Config]="ForecastModelConfig"
        [Placeholder]="ForecastModelType.invalid ? 'Select Forecast Model' : ''">
      </lcu-select>
      <mat-error *ngIf="ForecastModelType.hasError('required')">A forecast model is required</mat-error>
    </mat-dialog-content>
  </div>
  <div class="mt-10" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" [disabled]="!Form.valid">Search</button>
  </div>
  </form>

